<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js_client/app.js"></script>
</head>
<body>
    {{!-- We still use those sets of curly braces like we did when we wanted to add a value into the template
          For a partial, though, we have to add one additional character, which is the greater than sing.
          after the greater than sign, we provide the partial name, which is just the file name. --}}
    <div class="main-content">
        {{>header}}
        <p>{{helptext}}</p>
    </div>

    {{>footer}}
</body>
</html>