{{!-- what goes inside of partials isn't a complete HTML document. Instead, It is just part of a web page. --}}
{{!-- The value of title is coming from the app.js when rendering the relative page --}}

<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="help">Help</a>
</header>

